
// Black to White
$black: #000000;
$carbon: rgb(51, 51, 51);
$darkgrey: rgb(77, 77, 77);
$midgrey: rgb(102, 102, 102);
$lightgrey: rgb(128, 128, 128);
$grey: rgb(153, 153, 153);
$darksilver: rgb(179, 179, 179);
$midsilver: rgb(204, 204, 204);
$lightsilver: rgb(230, 230, 230);
$snow: rgb(242, 242, 242);
$white: #FFFFFF;

$lightred: rgb(211, 53, 62); // #d3353e
$brightred: #D20A15;
$midred: rgb(193, 45, 58); // #c12d3a
$logored: rgb(189, 45, 47); // #BD2D2F
$marengo: rgb(55, 63, 70); //#373F46

$darkmaroon: rgb(43, 40, 40); //#2b2828


// original slider colors:
$text1: #FFFFFF;
$blue1: #39a1f4;
$blue2: #2196F3;
